header{
    background-image: url(./image/DSC_0560.JPG);
    height:300px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: right;
    text-align: center;
    color: white;
    font-size: 100px;
    vertical-align:bottom;
}

.App1{
    margin-left:250px;
    text-align: left;
}

.AppImg{
    height:450px;
}

.AppImg2{
    height:250px;
}

.AppImg3{
    height:300px;
}

.Introduce{
    display: flex;
}

.article{
    width:900px;
}

.aside{
    width:200px;
    margin-top: 50px;
    margin-left:300px;
}

.Tbl{
    width: 800px;
}

.Profile{
    border-style: double;
    border-width: 2px;
    text-align: left;
    padding-left:30px;
    width:350px;
}

.ProfileImg{
    height:100px;
}

.Footer{
    background-color: black;
    text-align: center;
    padding:20px;
    margin-top: 30px;
}
.Footer_moji{
    font-size: 10px;
    color:white;
}